.login-page {
  background: var(--ion-color-gray10);
  .login-content {
    --background: transparent;
    .login-grid {
      padding: 0;
      height: 100vh;
      ion-row {
        height: 100%;
      }
    }
    .login-card {
      padding: 50px;
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}