.select-scrollbars {
  overflow: hidden !important;
  max-width: 0;
  & > .os-host {
    max-height: 300px;
    height: inherit;
  }
}

.select-scrollbars.MuiPopover-paper {
  max-width: 0 !important;
}