.requests-table {
  width: 100%;
  .status-chip {
    background: rgba(var(--ion-color-base-rgb), 1);
    font-weight: 500;
    font-size: 12px;
    margin: 0;
    pointer-events: none;
  }
  .wait-chip {
    background: rgba(var(--ion-color-base-rgb), 1);
    font-weight: 500;
    font-size: 12px;
    margin: 0;
    pointer-events: none;
  }
  .table-button {
    --padding-top: 0;
    --padding-start: 0;
    --padding-end: 0;
    --padding-bottom: 0;
    margin: 0 4px;
    height: 18px;
  }
  .nodata {
    height: 600px;
    ion-icon {
      height: 100px;
      width: 100px;
      top: calc(50% - 50px);
      left: calc(50% - 50px);
      position: absolute;
    }
    ion-text {
      top: calc(50% + 75px);
      left: calc(50% - 125px);
      position: absolute;
      color: var(--ion-color-gray30);
      font-weight: 400;
      font-size: 14px;
      width: 250px;
      text-align: center;
    }
  }
}