.header-main {
  height: 55px;

  img {
    height: 45px;
  }
}

.header-notifications {
  ion-buttons {
    height: 100%;

    .help {
      height: 40px;
      color: var(--ion-color-gray30);
      ion-icon {
        height: 25px;
        width: 25px;
      }
    }

    .notifications {
      height: 40px;
      ion-icon {
        height: 25px;
        width: 25px;
      }
    }

    .user-menu-avatar {
      height: 40px;
      img {
        height: 25px;
        width: 25px;
      }
    }
    
    .notes {
      height: 40px;
      color: var(--ion-color-warning);
      ion-icon {
        height: 25px;
        width: 25px;
      }
    }
  }
}
