.admin-page {
  ion-fab {
    position: fixed;
    right: 30px;
    bottom: 30px;
  }
  ion-title {
    width: 50%;
    position: absolute;
    left: 30px;
    top: 53px;
    z-index: 2;
    font-size: 16px;
    font-weight: 400;
  }
  .add-button {
    --border-radius: 30px;
    font-weight: 500;
    font-size: 10px;
    position: absolute;
    right: 30px;
    top: 53px;
    z-index: 2;
  }
  .admin-card {
    width: 100%;
    margin: 24px 20px;
    box-shadow: none;
  }
}
